USE [RentEase]
GO
ALTER TABLE [dbo].[Review] DROP CONSTRAINT [FK_Review_Apt]
GO
ALTER TABLE [dbo].[Review] DROP CONSTRAINT [FK_Review_Account]
GO
ALTER TABLE [dbo].[PostRequire] DROP CONSTRAINT [FK_PostRequire_Post]
GO
ALTER TABLE [dbo].[PostRequire] DROP CONSTRAINT [FK_PostRequire_Account]
GO
ALTER TABLE [dbo].[Post] DROP CONSTRAINT [FK_Post_PostCategory_PostCategoryId]
GO
ALTER TABLE [dbo].[Post] DROP CONSTRAINT [FK_Post_Apt]
GO
ALTER TABLE [dbo].[Post] DROP CONSTRAINT [FK_CPost_Account]
GO
ALTER TABLE [dbo].[Orders] DROP CONSTRAINT [FK_Orders_Post_PostId]
GO
ALTER TABLE [dbo].[Orders] DROP CONSTRAINT [FK_Order_Sender]
GO
ALTER TABLE [dbo].[Orders] DROP CONSTRAINT [FK_Order_OrderType]
GO
ALTER TABLE [dbo].[Messages] DROP CONSTRAINT [FK_Messages_Conversations_ConversationId]
GO
ALTER TABLE [dbo].[AptUtility] DROP CONSTRAINT [FK_AptUtility_Utility]
GO
ALTER TABLE [dbo].[AptUtility] DROP CONSTRAINT [FK_AptUtility_Apt]
GO
ALTER TABLE [dbo].[AptImage] DROP CONSTRAINT [FK_AptImage_Apt]
GO
ALTER TABLE [dbo].[Apt] DROP CONSTRAINT [FK_Apt_AptStatus]
GO
ALTER TABLE [dbo].[Apt] DROP CONSTRAINT [FK_Apt_AptCategory]
GO
ALTER TABLE [dbo].[AccountVerification] DROP CONSTRAINT [FK_AccountVerification_Account]
GO
ALTER TABLE [dbo].[AccountToken] DROP CONSTRAINT [FK_AccountToken_Account]
GO
ALTER TABLE [dbo].[AccountLikedApts] DROP CONSTRAINT [FK_AccountLikedApts_Apt_AptId]
GO
ALTER TABLE [dbo].[AccountLikedApts] DROP CONSTRAINT [FK_AccountLikedApts_Account_AccountId]
GO
ALTER TABLE [dbo].[Account] DROP CONSTRAINT [FK_Account_Role]
GO
ALTER TABLE [dbo].[Review] DROP CONSTRAINT [DF__Review__Rating__797309D9]
GO
ALTER TABLE [dbo].[Post] DROP CONSTRAINT [DF__Post__Status__73BA3083]
GO
ALTER TABLE [dbo].[Apt] DROP CONSTRAINT [DF__Apt__Status__59063A47]
GO
ALTER TABLE [dbo].[Apt] DROP CONSTRAINT [DF__Apt__Rating__5812160E]
GO
ALTER TABLE [dbo].[Apt] DROP CONSTRAINT [DF__Apt__Area__571DF1D5]
GO
ALTER TABLE [dbo].[AccountVerification] DROP CONSTRAINT [DF__AccountVe__IsUse__6FE99F9F]
GO
ALTER TABLE [dbo].[Account] DROP CONSTRAINT [DF__Account__Status__5EBF139D]
GO
ALTER TABLE [dbo].[Account] DROP CONSTRAINT [DF__Account__IsVerif__5DCAEF64]
GO
/****** Object:  Table [dbo].[Utility]    Script Date: 4/6/2025 5:36:48 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Utility]') AND type in (N'U'))
DROP TABLE [dbo].[Utility]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 4/6/2025 5:36:48 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Role]') AND type in (N'U'))
DROP TABLE [dbo].[Role]
GO
/****** Object:  Table [dbo].[Review]    Script Date: 4/6/2025 5:36:48 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Review]') AND type in (N'U'))
DROP TABLE [dbo].[Review]
GO
/****** Object:  Table [dbo].[PostRequire]    Script Date: 4/6/2025 5:36:48 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PostRequire]') AND type in (N'U'))
DROP TABLE [dbo].[PostRequire]
GO
/****** Object:  Table [dbo].[PostCategory]    Script Date: 4/6/2025 5:36:48 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PostCategory]') AND type in (N'U'))
DROP TABLE [dbo].[PostCategory]
GO
/****** Object:  Table [dbo].[Post]    Script Date: 4/6/2025 5:36:48 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Post]') AND type in (N'U'))
DROP TABLE [dbo].[Post]
GO
/****** Object:  Table [dbo].[OrderType]    Script Date: 4/6/2025 5:36:48 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[OrderType]') AND type in (N'U'))
DROP TABLE [dbo].[OrderType]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 4/6/2025 5:36:48 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Orders]') AND type in (N'U'))
DROP TABLE [dbo].[Orders]
GO
/****** Object:  Table [dbo].[Messages]    Script Date: 4/6/2025 5:36:48 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Messages]') AND type in (N'U'))
DROP TABLE [dbo].[Messages]
GO
/****** Object:  Table [dbo].[Conversations]    Script Date: 4/6/2025 5:36:48 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Conversations]') AND type in (N'U'))
DROP TABLE [dbo].[Conversations]
GO
/****** Object:  Table [dbo].[AptUtility]    Script Date: 4/6/2025 5:36:48 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[AptUtility]') AND type in (N'U'))
DROP TABLE [dbo].[AptUtility]
GO
/****** Object:  Table [dbo].[AptStatus]    Script Date: 4/6/2025 5:36:48 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[AptStatus]') AND type in (N'U'))
DROP TABLE [dbo].[AptStatus]
GO
/****** Object:  Table [dbo].[AptImage]    Script Date: 4/6/2025 5:36:48 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[AptImage]') AND type in (N'U'))
DROP TABLE [dbo].[AptImage]
GO
/****** Object:  Table [dbo].[AptCategory]    Script Date: 4/6/2025 5:36:48 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[AptCategory]') AND type in (N'U'))
DROP TABLE [dbo].[AptCategory]
GO
/****** Object:  Table [dbo].[Apt]    Script Date: 4/6/2025 5:36:48 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Apt]') AND type in (N'U'))
DROP TABLE [dbo].[Apt]
GO
/****** Object:  Table [dbo].[AccountVerification]    Script Date: 4/6/2025 5:36:48 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[AccountVerification]') AND type in (N'U'))
DROP TABLE [dbo].[AccountVerification]
GO
/****** Object:  Table [dbo].[AccountToken]    Script Date: 4/6/2025 5:36:48 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[AccountToken]') AND type in (N'U'))
DROP TABLE [dbo].[AccountToken]
GO
/****** Object:  Table [dbo].[AccountLikedApts]    Script Date: 4/6/2025 5:36:48 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[AccountLikedApts]') AND type in (N'U'))
DROP TABLE [dbo].[AccountLikedApts]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 4/6/2025 5:36:48 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Account]') AND type in (N'U'))
DROP TABLE [dbo].[Account]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 4/6/2025 5:36:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[AccountId] [nvarchar](255) NOT NULL,
	[FullName] [nvarchar](255) NOT NULL,
	[Email] [nvarchar](255) NULL,
	[PasswordHash] [nvarchar](255) NOT NULL,
	[PhoneNumber] [nvarchar](15) NULL,
	[DateOfBirth] [date] NULL,
	[GenderId] [int] NULL,
	[OldId] [int] NULL,
	[AvatarUrl] [nvarchar](max) NULL,
	[RoleId] [int] NOT NULL,
	[IsVerify] [bit] NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NULL,
	[DeletedAt] [datetime] NULL,
	[Status] [bit] NULL,
 CONSTRAINT [PK__Account__349DA5A62F5DEB04] PRIMARY KEY CLUSTERED 
(
	[AccountId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AccountLikedApts]    Script Date: 4/6/2025 5:36:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AccountLikedApts](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[AccountId] [nvarchar](255) NOT NULL,
	[AptId] [nvarchar](255) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_AccountLikedApts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AccountToken]    Script Date: 4/6/2025 5:36:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AccountToken](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[AccountId] [nvarchar](255) NOT NULL,
	[RefreshToken] [nvarchar](max) NOT NULL,
	[ExpiresAt] [datetime] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
 CONSTRAINT [PK__AccountT__3214EC074C2E87F3] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AccountVerification]    Script Date: 4/6/2025 5:36:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AccountVerification](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[AccountId] [nvarchar](255) NOT NULL,
	[VerificationCode] [nvarchar](50) NOT NULL,
	[IsUsed] [bit] NULL,
	[ExpiresAt] [datetime] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
 CONSTRAINT [PK__AccountV__3214EC07812979E0] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Apt]    Script Date: 4/6/2025 5:36:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Apt](
	[AptId] [nvarchar](255) NOT NULL,
	[PosterId] [nvarchar](255) NULL,
	[OwnerName] [nvarchar](max) NULL,
	[OwnerPhone] [nvarchar](max) NULL,
	[Name] [nvarchar](255) NOT NULL,
	[Area] [float] NULL,
	[Address] [nvarchar](500) NOT NULL,
	[AddressLink] [nvarchar](500) NULL,
	[ProvinceId] [int] NOT NULL,
	[DistrictId] [int] NOT NULL,
	[WardId] [int] NOT NULL,
	[AptCategoryId] [int] NOT NULL,
	[AptStatusId] [int] NOT NULL,
	[NumberOfRoom] [int] NOT NULL,
	[NumberOfSlot] [int] NOT NULL,
	[Note] [nvarchar](max) NULL,
	[Rating] [float] NULL,
	[ApproveStatusId] [int] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NULL,
	[DeletedAt] [datetime] NULL,
	[Status] [bit] NULL,
	[OwnerEmail] [nvarchar](max) NULL,
 CONSTRAINT [PK__Apt__8D24E77238D6C477] PRIMARY KEY CLUSTERED 
(
	[AptId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AptCategory]    Script Date: 4/6/2025 5:36:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AptCategory](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](100) NOT NULL,
	[Note] [nvarchar](255) NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NULL,
 CONSTRAINT [PK__AptCateg__3214EC07B602F106] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AptImage]    Script Date: 4/6/2025 5:36:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AptImage](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[AptId] [nvarchar](255) NULL,
	[ImageURL] [nvarchar](max) NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NULL,
 CONSTRAINT [PK__AptImage__8D24E772761F5E0C] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AptStatus]    Script Date: 4/6/2025 5:36:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AptStatus](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[StatusName] [nvarchar](100) NOT NULL,
	[Note] [nvarchar](255) NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NULL,
 CONSTRAINT [PK__AptStatu__3214EC0701430943] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AptUtility]    Script Date: 4/6/2025 5:36:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AptUtility](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[AptId] [nvarchar](255) NOT NULL,
	[UtilityId] [int] NOT NULL,
	[Note] [nvarchar](500) NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NULL,
 CONSTRAINT [PK__AptUtili__3214EC07540A0EA3] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Conversations]    Script Date: 4/6/2025 5:36:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Conversations](
	[Id] [nvarchar](255) NOT NULL,
	[AccountId1] [nvarchar](255) NOT NULL,
	[AccountId2] [nvarchar](255) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Conversations] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Messages]    Script Date: 4/6/2025 5:36:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Messages](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ConversationId] [nvarchar](255) NOT NULL,
	[SenderId] [nvarchar](255) NOT NULL,
	[Content] [nvarchar](max) NOT NULL,
	[SentAt] [datetime2](7) NOT NULL,
	[IsSeen] [bit] NOT NULL,
 CONSTRAINT [PK_Messages] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 4/6/2025 5:36:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[OrderId] [nvarchar](255) NOT NULL,
	[OrderTypeId] [nvarchar](255) NULL,
	[OrderCode] [nvarchar](max) NULL,
	[PostId] [nvarchar](255) NULL,
	[SenderId] [nvarchar](255) NOT NULL,
	[TotalAmount] [decimal](18, 2) NOT NULL,
	[Note] [nvarchar](max) NULL,
	[CreatedAt] [datetime] NOT NULL,
	[PaidAt] [datetime] NULL,
	[CancelledAt] [datetime2](7) NULL,
	[PaymentStatusId] [int] NOT NULL,
 CONSTRAINT [PK__Orders__C3905BCF74207269] PRIMARY KEY CLUSTERED 
(
	[OrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderType]    Script Date: 4/6/2025 5:36:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderType](
	[Id] [nvarchar](255) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Note] [nvarchar](255) NULL,
	[Month] [int] NOT NULL,
	[Amount] [decimal](18, 2) NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NULL,
 CONSTRAINT [PK__Ordert__3214EC07450B5CD3] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Post]    Script Date: 4/6/2025 5:36:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Post](
	[PostId] [nvarchar](255) NOT NULL,
	[PostCategoryId] [int] NOT NULL,
	[PosterId] [nvarchar](255) NOT NULL,
	[AptId] [nvarchar](255) NOT NULL,
	[Title] [nvarchar](255) NOT NULL,
	[RentPrice] [bigint] NOT NULL,
	[PilePrice] [bigint] NULL,
	[TotalSlot] [int] NOT NULL,
	[CurrentSlot] [int] NOT NULL,
	[GenderId] [int] NOT NULL,
	[OldId] [int] NOT NULL,
	[Note] [nvarchar](max) NULL,
	[MoveInDate] [date] NOT NULL,
	[MoveOutDate] [date] NULL,
	[ApproveStatusId] [int] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NULL,
	[DeletedAt] [datetime] NULL,
	[StartPublic] [datetime2](7) NULL,
	[EndPublic] [datetime2](7) NULL,
	[Status] [bit] NULL,
 CONSTRAINT [PK__Post__AA1260182BDDB060] PRIMARY KEY CLUSTERED 
(
	[PostId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PostCategory]    Script Date: 4/6/2025 5:36:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PostCategory](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](max) NOT NULL,
	[Note] [nvarchar](max) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_PostCategory] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PostRequire]    Script Date: 4/6/2025 5:36:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PostRequire](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[AccountId] [nvarchar](255) NOT NULL,
	[PostId] [nvarchar](255) NOT NULL,
	[Note] [nvarchar](max) NULL,
	[ApproveStatusId] [int] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NULL,
 CONSTRAINT [PK__PostRequ__3214EC0721C7FA81] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Review]    Script Date: 4/6/2025 5:36:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Review](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[AccountId] [nvarchar](255) NOT NULL,
	[AptId] [nvarchar](255) NOT NULL,
	[Rating] [float] NULL,
	[Comment] [nvarchar](500) NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NULL,
 CONSTRAINT [PK__Review__3214EC071860634A] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 4/6/2025 5:36:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](100) NOT NULL,
	[Note] [nvarchar](255) NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NULL,
 CONSTRAINT [PK__Role__3214EC074195CB0F] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Utility]    Script Date: 4/6/2025 5:36:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Utility](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UtilityName] [nvarchar](100) NOT NULL,
	[Note] [nvarchar](255) NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NULL,
 CONSTRAINT [PK__Utility__3214EC07BD26B4C7] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Account] ([AccountId], [FullName], [Email], [PasswordHash], [PhoneNumber], [DateOfBirth], [GenderId], [OldId], [AvatarUrl], [RoleId], [IsVerify], [CreatedAt], [UpdatedAt], [DeletedAt], [Status]) VALUES (N'13a9c2c2593146f9a818cccbcd985957', N'Tương Đỏ Di Hẻi', N'truongdoduyhai03082003@gmail.com', N'$2a$11$sPyr/9qWvoLM0lIUkB6ub.5PFosVoID5f0pBGOQwOzW85E2b3Cqj.', NULL, NULL, NULL, NULL, NULL, 2, 1, CAST(N'2025-04-04T03:23:29.300' AS DateTime), NULL, NULL, 1)
INSERT [dbo].[Account] ([AccountId], [FullName], [Email], [PasswordHash], [PhoneNumber], [DateOfBirth], [GenderId], [OldId], [AvatarUrl], [RoleId], [IsVerify], [CreatedAt], [UpdatedAt], [DeletedAt], [Status]) VALUES (N'288a200a82104577baddf3daa0a22335', N'Phuk Lô', N'lehongphuc23032003@gmail.com', N'$2a$11$RJHKJId/mv917hFFOFNQFeeX0XJImdZDlxH9TGSokVAAI/umGilh.', N'1431231232', NULL, NULL, NULL, NULL, 2, 1, CAST(N'2025-03-28T07:49:31.413' AS DateTime), NULL, NULL, 1)
INSERT [dbo].[Account] ([AccountId], [FullName], [Email], [PasswordHash], [PhoneNumber], [DateOfBirth], [GenderId], [OldId], [AvatarUrl], [RoleId], [IsVerify], [CreatedAt], [UpdatedAt], [DeletedAt], [Status]) VALUES (N'2ee35ff219d240b88f846fece7d7ac7e', N'CocaIsMee', N'cocaisme3107@gmail.com', N'$2a$11$v16kyq3aKx9MkCUi/spqL.ie///yNAGdA6Fm58mYg3UpD6KdYFN7e', N'0123456789', NULL, NULL, NULL, NULL, 2, 1, CAST(N'2025-03-27T15:51:26.810' AS DateTime), NULL, NULL, 1)
GO
SET IDENTITY_INSERT [dbo].[AccountToken] ON 

INSERT [dbo].[AccountToken] ([Id], [AccountId], [RefreshToken], [ExpiresAt], [CreatedAt]) VALUES (1, N'b609437e95a9481d888631a47c379522', N'435b7905-be2f-474e-9bda-022ecfcb1373', CAST(N'2025-04-01T18:17:58.360' AS DateTime), CAST(N'2025-03-25T18:17:58.360' AS DateTime))
INSERT [dbo].[AccountToken] ([Id], [AccountId], [RefreshToken], [ExpiresAt], [CreatedAt]) VALUES (2, N'admin', N'7aeac22e-1d78-453f-a425-5590449352b1', CAST(N'2025-04-01T18:18:44.490' AS DateTime), CAST(N'2025-03-25T18:18:44.490' AS DateTime))
INSERT [dbo].[AccountToken] ([Id], [AccountId], [RefreshToken], [ExpiresAt], [CreatedAt]) VALUES (3, N'b609437e95a9481d888631a47c379522', N'73e3ab88-10e2-40a5-a92e-fb608d8569d5', CAST(N'2025-04-01T18:40:42.530' AS DateTime), CAST(N'2025-03-25T18:40:42.530' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[AccountToken] OFF
GO
SET IDENTITY_INSERT [dbo].[AccountVerification] ON 

INSERT [dbo].[AccountVerification] ([Id], [AccountId], [VerificationCode], [IsUsed], [ExpiresAt], [CreatedAt]) VALUES (1, N'b609437e95a9481d888631a47c379522', N'Q4OII', 1, CAST(N'2025-03-30T18:17:22.190' AS DateTime), CAST(N'2025-03-25T18:17:22.190' AS DateTime))
INSERT [dbo].[AccountVerification] ([Id], [AccountId], [VerificationCode], [IsUsed], [ExpiresAt], [CreatedAt]) VALUES (2, N'2ee35ff219d240b88f846fece7d7ac7e', N'BA2J5', 1, CAST(N'2025-04-01T15:51:27.230' AS DateTime), CAST(N'2025-03-27T15:51:27.230' AS DateTime))
INSERT [dbo].[AccountVerification] ([Id], [AccountId], [VerificationCode], [IsUsed], [ExpiresAt], [CreatedAt]) VALUES (3, N'288a200a82104577baddf3daa0a22335', N'6JBMN', 1, CAST(N'2025-04-02T07:49:31.423' AS DateTime), CAST(N'2025-03-28T07:49:31.423' AS DateTime))
SET IDENTITY_INSERT [dbo].[AccountVerification] OFF
GO
SET IDENTITY_INSERT [dbo].[AptCategory] ON 

INSERT [dbo].[AptCategory] ([Id], [CategoryName], [Note], [CreatedAt], [UpdatedAt]) VALUES (1, N'CC', N'Chung cư', CAST(N'2025-03-25T11:16:25.980' AS DateTime), NULL)
INSERT [dbo].[AptCategory] ([Id], [CategoryName], [Note], [CreatedAt], [UpdatedAt]) VALUES (2, N'ND', N'Nhà đất', CAST(N'2025-03-25T11:16:25.980' AS DateTime), NULL)
INSERT [dbo].[AptCategory] ([Id], [CategoryName], [Note], [CreatedAt], [UpdatedAt]) VALUES (3, N'CH', N'Căn hộ mini', CAST(N'2025-03-25T11:16:25.980' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[AptCategory] OFF
GO
SET IDENTITY_INSERT [dbo].[AptImage] ON 

INSERT [dbo].[AptImage] ([Id], [AptId], [ImageURL], [CreatedAt], [UpdatedAt]) VALUES (1, N'CC194196', N'/uploads/apt/f8b11354-f74b-4c95-a2b1-c5769852e74f.jpg', CAST(N'2025-03-28T09:47:21.063' AS DateTime), NULL)
INSERT [dbo].[AptImage] ([Id], [AptId], [ImageURL], [CreatedAt], [UpdatedAt]) VALUES (2, N'CC194196', N'/uploads/apt/5206cd94-58b6-4516-8075-f6d35011174f.jpg', CAST(N'2025-03-28T09:47:21.087' AS DateTime), NULL)
INSERT [dbo].[AptImage] ([Id], [AptId], [ImageURL], [CreatedAt], [UpdatedAt]) VALUES (3, N'CC194196', N'/uploads/apt/6b81cdd8-c436-4299-803f-fd591c3a0ee1.jpg', CAST(N'2025-03-28T09:47:21.090' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[AptImage] OFF
GO
SET IDENTITY_INSERT [dbo].[AptStatus] ON 

INSERT [dbo].[AptStatus] ([Id], [StatusName], [Note], [CreatedAt], [UpdatedAt]) VALUES (1, N'Available', N'Kh? d?ng', CAST(N'2025-03-25T11:16:25.983' AS DateTime), NULL)
INSERT [dbo].[AptStatus] ([Id], [StatusName], [Note], [CreatedAt], [UpdatedAt]) VALUES (2, N'Full', N'Ð?y', CAST(N'2025-03-25T11:16:25.983' AS DateTime), NULL)
INSERT [dbo].[AptStatus] ([Id], [StatusName], [Note], [CreatedAt], [UpdatedAt]) VALUES (3, N'Maintenance', N'B?o trì', CAST(N'2025-03-25T11:16:25.983' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[AptStatus] OFF
GO
INSERT [dbo].[Conversations] ([Id], [AccountId1], [AccountId2], [CreatedAt]) VALUES (N'423d83f44c3344bc86030d25c1b6a66f', N'admin', N'b609437e95a9481d888631a47c379522', CAST(N'2025-04-06T04:54:59.6051736' AS DateTime2))
GO
SET IDENTITY_INSERT [dbo].[Messages] ON 

INSERT [dbo].[Messages] ([Id], [ConversationId], [SenderId], [Content], [SentAt], [IsSeen]) VALUES (1, N'423d83f44c3344bc86030d25c1b6a66f', N'admin', N'hi', CAST(N'2025-04-06T04:58:49.1683362' AS DateTime2), 0)
SET IDENTITY_INSERT [dbo].[Messages] OFF
GO
INSERT [dbo].[Orders] ([OrderId], [OrderTypeId], [OrderCode], [PostId], [SenderId], [TotalAmount], [Note], [CreatedAt], [PaidAt], [CancelledAt], [PaymentStatusId]) VALUES (N'092197d49fe0469d99bda06599be8aac', N'30b5666122aa4ac7b2df933f84a97777', N'555975090626522', N'3f0dc58c63f64f0db6b8332a545de6e4', N'2ee35ff219d240b88f846fece7d7ac7e', CAST(2000.00 AS Decimal(18, 2)), N'Thanh toán: Gói 1 Tháng', CAST(N'2025-04-04T09:06:26.527' AS DateTime), NULL, CAST(N'2025-04-05T00:50:46.8423835' AS DateTime2), 4)
INSERT [dbo].[Orders] ([OrderId], [OrderTypeId], [OrderCode], [PostId], [SenderId], [TotalAmount], [Note], [CreatedAt], [PaidAt], [CancelledAt], [PaymentStatusId]) VALUES (N'0ba6359edab74b5999a7c0c75614ddb9', N'30b5666122aa4ac7b2df933f84a97777', N'317764070517938', N'5365ee307da940aa8b96dddb9b9da41a', N'288a200a82104577baddf3daa0a22335', CAST(2000.00 AS Decimal(18, 2)), N'Thanh toán: Gói 1 Tháng', CAST(N'2025-04-04T07:05:17.940' AS DateTime), CAST(N'2025-04-04T07:05:48.760' AS DateTime), NULL, 2)
INSERT [dbo].[Orders] ([OrderId], [OrderTypeId], [OrderCode], [PostId], [SenderId], [TotalAmount], [Note], [CreatedAt], [PaidAt], [CancelledAt], [PaymentStatusId]) VALUES (N'219debe28af8452e9125eb25af674417', N'30b5666122aa4ac7b2df933f84a97777', N'922827090502118', N'7e01bef38f6d41bfb7d84ed843530eac', N'288a200a82104577baddf3daa0a22335', CAST(99000.00 AS Decimal(18, 2)), N'1 tháng', CAST(N'2025-03-28T09:05:02.120' AS DateTime), NULL, NULL, 1)
GO
INSERT [dbo].[OrderType] ([Id], [Name], [Note], [Month], [Amount], [CreatedAt], [UpdatedAt]) VALUES (N'1f051b28cb2a48bbacb65d5ecdea20e0', N'diamon', N'Gói 1 năm', 12, CAST(999000.00 AS Decimal(18, 2)), CAST(N'2025-03-25T18:23:30.300' AS DateTime), NULL)
INSERT [dbo].[OrderType] ([Id], [Name], [Note], [Month], [Amount], [CreatedAt], [UpdatedAt]) VALUES (N'30b5666122aa4ac7b2df933f84a97777', N'silver', N'Gói 1 Tháng', 1, CAST(2000.00 AS Decimal(18, 2)), CAST(N'2025-03-25T18:22:14.053' AS DateTime), NULL)
INSERT [dbo].[OrderType] ([Id], [Name], [Note], [Month], [Amount], [CreatedAt], [UpdatedAt]) VALUES (N'572643ca0c954393984b824d8c9781cf', N'platinum', N'Gói 6 Tháng', 6, CAST(559000.00 AS Decimal(18, 2)), CAST(N'2025-03-25T18:23:02.313' AS DateTime), NULL)
GO
INSERT [dbo].[Post] ([PostId], [PostCategoryId], [PosterId], [AptId], [Title], [RentPrice], [PilePrice], [TotalSlot], [CurrentSlot], [GenderId], [OldId], [Note], [MoveInDate], [MoveOutDate], [ApproveStatusId], [CreatedAt], [UpdatedAt], [DeletedAt], [StartPublic], [EndPublic], [Status]) VALUES (N'7e01bef38f6d41bfb7d84ed843530eac', 2, N'288a200a82104577baddf3daa0a22335', N'CC962261', N'Cho thuê căn hộ chung cư', 0, NULL, 4, 4, 1, 2, N'phòng rộng rãi, sạch sẽ', CAST(N'2025-04-30' AS Date), CAST(N'2025-12-31' AS Date), 1, CAST(N'2025-03-28T08:20:18.717' AS DateTime), NULL, NULL, NULL, NULL, 0)
GO
SET IDENTITY_INSERT [dbo].[PostCategory] ON 

INSERT [dbo].[PostCategory] ([Id], [CategoryName], [Note], [CreatedAt], [UpdatedAt]) VALUES (1, N'thue nha', N'string', CAST(N'2025-03-27T02:53:49.8441455' AS DateTime2), NULL)
INSERT [dbo].[PostCategory] ([Id], [CategoryName], [Note], [CreatedAt], [UpdatedAt]) VALUES (2, N'cho thue nha', N'string', CAST(N'2025-03-27T02:53:59.1285407' AS DateTime2), NULL)
SET IDENTITY_INSERT [dbo].[PostCategory] OFF
GO
SET IDENTITY_INSERT [dbo].[Role] ON 

INSERT [dbo].[Role] ([Id], [RoleName], [Note], [CreatedAt], [UpdatedAt]) VALUES (1, N'Admin', N'Quản trị viên', CAST(N'2025-03-25T11:16:25.980' AS DateTime), NULL)
INSERT [dbo].[Role] ([Id], [RoleName], [Note], [CreatedAt], [UpdatedAt]) VALUES (2, N'Lessor', N'Chủ nhà', CAST(N'2025-03-25T11:16:25.980' AS DateTime), NULL)
INSERT [dbo].[Role] ([Id], [RoleName], [Note], [CreatedAt], [UpdatedAt]) VALUES (3, N'Lesse', N'Người thuê', CAST(N'2025-03-25T11:16:25.980' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[Role] OFF
GO
SET IDENTITY_INSERT [dbo].[Utility] ON 

INSERT [dbo].[Utility] ([Id], [UtilityName], [Note], [CreatedAt], [UpdatedAt]) VALUES (1, N'air-conditioner', N'Máy lạnh', CAST(N'2025-03-25T11:16:25.990' AS DateTime), NULL)
INSERT [dbo].[Utility] ([Id], [UtilityName], [Note], [CreatedAt], [UpdatedAt]) VALUES (2, N'kitchen', N'Bếp', CAST(N'2025-03-25T11:16:25.990' AS DateTime), NULL)
INSERT [dbo].[Utility] ([Id], [UtilityName], [Note], [CreatedAt], [UpdatedAt]) VALUES (3, N'curtain', N'Rèm', CAST(N'2025-03-25T11:16:25.990' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[Utility] OFF
GO
ALTER TABLE [dbo].[Account] ADD  DEFAULT (CONVERT([bit],(0))) FOR [IsVerify]
GO
ALTER TABLE [dbo].[Account] ADD  DEFAULT (CONVERT([bit],(1))) FOR [Status]
GO
ALTER TABLE [dbo].[AccountVerification] ADD  DEFAULT (CONVERT([bit],(0))) FOR [IsUsed]
GO
ALTER TABLE [dbo].[Apt] ADD  DEFAULT ((0.0000000000000000e+000)) FOR [Area]
GO
ALTER TABLE [dbo].[Apt] ADD  DEFAULT ((0.0000000000000000e+000)) FOR [Rating]
GO
ALTER TABLE [dbo].[Apt] ADD  DEFAULT (CONVERT([bit],(0))) FOR [Status]
GO
ALTER TABLE [dbo].[Post] ADD  DEFAULT (CONVERT([bit],(1))) FOR [Status]
GO
ALTER TABLE [dbo].[Review] ADD  DEFAULT ((0.0000000000000000e+000)) FOR [Rating]
GO
ALTER TABLE [dbo].[Account]  WITH CHECK ADD  CONSTRAINT [FK_Account_Role] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Role] ([Id])
GO
ALTER TABLE [dbo].[Account] CHECK CONSTRAINT [FK_Account_Role]
GO
ALTER TABLE [dbo].[AccountLikedApts]  WITH CHECK ADD  CONSTRAINT [FK_AccountLikedApts_Account_AccountId] FOREIGN KEY([AccountId])
REFERENCES [dbo].[Account] ([AccountId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AccountLikedApts] CHECK CONSTRAINT [FK_AccountLikedApts_Account_AccountId]
GO
ALTER TABLE [dbo].[AccountLikedApts]  WITH CHECK ADD  CONSTRAINT [FK_AccountLikedApts_Apt_AptId] FOREIGN KEY([AptId])
REFERENCES [dbo].[Apt] ([AptId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AccountLikedApts] CHECK CONSTRAINT [FK_AccountLikedApts_Apt_AptId]
GO
ALTER TABLE [dbo].[AccountToken]  WITH CHECK ADD  CONSTRAINT [FK_AccountToken_Account] FOREIGN KEY([AccountId])
REFERENCES [dbo].[Account] ([AccountId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AccountToken] CHECK CONSTRAINT [FK_AccountToken_Account]
GO
ALTER TABLE [dbo].[AccountVerification]  WITH CHECK ADD  CONSTRAINT [FK_AccountVerification_Account] FOREIGN KEY([AccountId])
REFERENCES [dbo].[Account] ([AccountId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AccountVerification] CHECK CONSTRAINT [FK_AccountVerification_Account]
GO
ALTER TABLE [dbo].[Apt]  WITH CHECK ADD  CONSTRAINT [FK_Apt_AptCategory] FOREIGN KEY([AptCategoryId])
REFERENCES [dbo].[AptCategory] ([Id])
GO
ALTER TABLE [dbo].[Apt] CHECK CONSTRAINT [FK_Apt_AptCategory]
GO
ALTER TABLE [dbo].[Apt]  WITH CHECK ADD  CONSTRAINT [FK_Apt_AptStatus] FOREIGN KEY([AptStatusId])
REFERENCES [dbo].[AptStatus] ([Id])
GO
ALTER TABLE [dbo].[Apt] CHECK CONSTRAINT [FK_Apt_AptStatus]
GO
ALTER TABLE [dbo].[AptImage]  WITH CHECK ADD  CONSTRAINT [FK_AptImage_Apt] FOREIGN KEY([AptId])
REFERENCES [dbo].[Apt] ([AptId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AptImage] CHECK CONSTRAINT [FK_AptImage_Apt]
GO
ALTER TABLE [dbo].[AptUtility]  WITH CHECK ADD  CONSTRAINT [FK_AptUtility_Apt] FOREIGN KEY([AptId])
REFERENCES [dbo].[Apt] ([AptId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AptUtility] CHECK CONSTRAINT [FK_AptUtility_Apt]
GO
ALTER TABLE [dbo].[AptUtility]  WITH CHECK ADD  CONSTRAINT [FK_AptUtility_Utility] FOREIGN KEY([UtilityId])
REFERENCES [dbo].[Utility] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AptUtility] CHECK CONSTRAINT [FK_AptUtility_Utility]
GO
ALTER TABLE [dbo].[Messages]  WITH CHECK ADD  CONSTRAINT [FK_Messages_Conversations_ConversationId] FOREIGN KEY([ConversationId])
REFERENCES [dbo].[Conversations] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Messages] CHECK CONSTRAINT [FK_Messages_Conversations_ConversationId]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Order_OrderType] FOREIGN KEY([OrderTypeId])
REFERENCES [dbo].[OrderType] ([Id])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Order_OrderType]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Order_Sender] FOREIGN KEY([SenderId])
REFERENCES [dbo].[Account] ([AccountId])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Order_Sender]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Post_PostId] FOREIGN KEY([PostId])
REFERENCES [dbo].[Post] ([PostId])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Post_PostId]
GO
ALTER TABLE [dbo].[Post]  WITH CHECK ADD  CONSTRAINT [FK_CPost_Account] FOREIGN KEY([PosterId])
REFERENCES [dbo].[Account] ([AccountId])
GO
ALTER TABLE [dbo].[Post] CHECK CONSTRAINT [FK_CPost_Account]
GO
ALTER TABLE [dbo].[Post]  WITH CHECK ADD  CONSTRAINT [FK_Post_Apt] FOREIGN KEY([AptId])
REFERENCES [dbo].[Apt] ([AptId])
GO
ALTER TABLE [dbo].[Post] CHECK CONSTRAINT [FK_Post_Apt]
GO
ALTER TABLE [dbo].[Post]  WITH CHECK ADD  CONSTRAINT [FK_Post_PostCategory_PostCategoryId] FOREIGN KEY([PostCategoryId])
REFERENCES [dbo].[PostCategory] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Post] CHECK CONSTRAINT [FK_Post_PostCategory_PostCategoryId]
GO
ALTER TABLE [dbo].[PostRequire]  WITH CHECK ADD  CONSTRAINT [FK_PostRequire_Account] FOREIGN KEY([AccountId])
REFERENCES [dbo].[Account] ([AccountId])
GO
ALTER TABLE [dbo].[PostRequire] CHECK CONSTRAINT [FK_PostRequire_Account]
GO
ALTER TABLE [dbo].[PostRequire]  WITH CHECK ADD  CONSTRAINT [FK_PostRequire_Post] FOREIGN KEY([PostId])
REFERENCES [dbo].[Post] ([PostId])
GO
ALTER TABLE [dbo].[PostRequire] CHECK CONSTRAINT [FK_PostRequire_Post]
GO
ALTER TABLE [dbo].[Review]  WITH CHECK ADD  CONSTRAINT [FK_Review_Account] FOREIGN KEY([AccountId])
REFERENCES [dbo].[Account] ([AccountId])
GO
ALTER TABLE [dbo].[Review] CHECK CONSTRAINT [FK_Review_Account]
GO
ALTER TABLE [dbo].[Review]  WITH CHECK ADD  CONSTRAINT [FK_Review_Apt] FOREIGN KEY([AptId])
REFERENCES [dbo].[Apt] ([AptId])
GO
ALTER TABLE [dbo].[Review] CHECK CONSTRAINT [FK_Review_Apt]
GO
